BODY {
	background-color: white;
	color: black;
	margin-top:5pt;
	margin-left:5pt;
	margin-right:5pt;
	font-family: serif;
}

H1 {font: 18pt cursive; color:black; text-align:center;}
H2 {font: 16pt helvetica,sans-serif; color:black; text-align:left; background-color:#CCCCCC}
H3 {font: 14pt cursive; color:black; text-align:left; text-transform: uppercase}
H4 {font: 13pt cursive; color:black; text-align:left; }
H5 {font: 12pt cursive; color:#888888; text-align:left}
H6 {font: 11pt cursive; color:black; font-style:italic; text-align:left}

INPUT, SELECT {
       font-size: 9pt;
       margin-top:0pt;
       margin-right:0pt
}

TABLE {
        font-size: 9pt;
	margin-top: 5pt;
	padding-top: 5pt;
	border: none; border-width: 1pt; border-collapse: collapse; empty-cells: show
}

TD {border: solid; border-width: 1pt; text-align:center;}
TH {border: groove; border-width: 1pt; background-color:#EEEEEE}



.check { width:10px; height:10px}
.paire  {background-color: #B9C8FF}
.special  {background-color: #5DFF89}
.impaire {background-color: #FFE3B9}
.form_row {float:left;padding:3px;text-align:center;}
#entree_nb {width:3em}
#entree_deb {width:3em}
#entree_date1{width:7em}
#entree_date2{width:7em}
#entree_point{width:1em}
#soldepointe{text-align:right;}
#ptnew{display:none}
/*#entree_type{width:10em}*/
#entree_type label{display:inline;font-size:0.8em;width:10em;vertical-align:middle;text-align:left}
#entree_type INPUT{display:inline;}
li {padding-bottom: 5pt}

a.cible {color: black; text-decoration: none}
a:hover {color:red}

.tabpar{float:left;display:block;padding:1em}
#ui-datepicker-div {font-size:75%}
.monbutton{padding:0px}
.icobutton{background-repeat:no-repeat; overflow:hidden; width:16px; text-indent:-99999px; display:block}
.addbutton{background-image: url('images/b_snewtbl.png')}
.delbutton{background-image: url('images/b_drop.png')}
