{% extends 'ClemLafComptesAppBundle:Comptes:index.html.twig' %}

{% block content %}
<div style="text-align:center;width:100%;float:left;">
  <img src="data:image/png;base64,{{ render(controller('ClemLafComptesAppBundle:Graph:graph',{'type':type, 'querystr':test,'param':param, 'cpsarray':cpid})) }}">
</div>
{% endblock %}
