{% extends 'ClemLafComptesAppBundle:Comptes:base.html.twig' %}
{% form_theme form 'ClemLafComptesAppBundle:Form:field.html.twig' %}

{% block title %}
    Comptes
{% endblock %}
{% block stylesheets %}
{% stylesheets 'bundles/clemlafcomptesapp/css/*.css' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}
{% endblock %}
{% block javascripts %}
{% javascripts 'bundles/clemlafcomptesapp/js/jquery.min.js'
               'bundles/clemlafcomptesapp/js/jquery-ui.min.js'
               'bundles/clemlafcomptesapp/js/datepicker-fr.js'
               'bundles/clemlafcomptesapp/js/update_ajax.js'
               'bundles/clemlafcomptesapp/js/utils.js'
               'bundles/clemlafcomptesapp/js/notify*.js'
               'bundles/clemlafcomptesapp/js/twig*.js'
	       output='js/compiled/main.js'
	       %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}
  <h1>Les comptes</h1>
  {{ form(form) }}
  <button onclick="javascript:clearform();">Clear</button>

    {% block content%}
    {% endblock %}
   
{% endblock %}
