{% extends 'ClemLafComptesAppBundle:Comptes:base.html.twig' %}

{% block title %}
  Opération Périodiques
{% endblock %}
{% block stylesheets %}
{% stylesheets 'bundles/clemlafcomptesapp/css/*.css' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}
{% endblock %}
{% block javascripts %}
{% javascripts 'bundles/clemlafcomptesapp/js/jquery.min.js'
               'bundles/clemlafcomptesapp/js/jquery-ui.min.js'
               'bundles/clemlafcomptesapp/js/datepicker-fr.js'
               'bundles/clemlafcomptesapp/js/period_ajax.js'
               'bundles/clemlafcomptesapp/js/utils.js'
               'bundles/clemlafcomptesapp/js/notify*.js'
               'bundles/clemlafcomptesapp/js/twig*.js'
	       output='js/compiled/period.js'
	       %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
{% block body %}
  <h1>Les opérations périodiques</h1>
  <table>
    <tr>
      <th>index</th>
      <th>Date</th>
      <th>Date d'expiration</th>
      <th>Mois</th>
      <th>Jours</th>
      <th>Compte source</th>
      <th>Compte destination</th>
      <th>Moyen</th>
      <th>Catégorie</th>
      <th>Commentaire</th>
      <th>Prix</th>
      <th></th>
    </tr>
    {% for li in periodics %}
      {{ include('ClemLafComptesAppBundle:Comptes:lin_perio.html.twig',{'comptes':comptes, 'moyens':moyens, 'categories':categories, 'li':li, 'liid':li.id}) }}
    {% endfor %}
      {{ include('ClemLafComptesAppBundle:Comptes:lin_perio.html.twig',{'comptes':comptes, 'moyens':moyens, 'categories':categories, 'li':newper, 'liid':'new'}) }}
  </table>
{% endblock %}
