<table>
  <tr>
    <th>Id</th>
    <th>Nom</th>
  </tr>
{% for li in data %}
  <tr>
    <td>{{ li['id'] }}</td>
    <td>{{ li['name'] }}</td>
    <td>
      <button class="monbutton" onClick="javascript:supprime('{{ type }}','{{ li['id'] }}')">
	      <span class="icobutton delbutton">del</span>
      </button>
    </td>
  </tr>
{% endfor %}
</table>
