{% extends 'ClemLafComptesAppBundle:Comptes:index.html.twig' %}

{% block content %}
<table border=1 id="princ" style="overflow:hidden" width="100%">
</table>
  <script type="text/javascript" src="{{ asset('bundles/clemlafcomptesapp/js/app.js')}}"></script>
{% endblock %}
